﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="site-disclaimer">
    <h1 class="display-4">Welcome to the Vending Machine!</h1>
    <span>
        <em>
            <strong>Disclaimer:</strong> This was developed in a short time and tested primarily desktop resolution (1920x1080). Using mobile devices may have unknown side-effects. <br/>
            <small>
                This may include forgetting your hot drink in the vending machine.
            </small>
        </em>
    </span>
</div>

<div class="row">
    @* Smaller screens we want to be full-width *@
    <div class="col-xs-12 col-md-10 col-xl-6 ">
        <div id="vending-machine" data-bind="visible: enabled" class="vending-machine">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <span class="vending-machine-header">Red River Refreshments</span>
                    </div>

                    <!-- Body! This was intended to be the left hand side with image and drink output-->
                    <div class="col-6" id="vending-machine-body">
                        <div data-bind="visible: hasDrinkMadeSteps" id="vending-machine-textinterface">
                            <span>Steps followed to make your drink...</span>
                            <ol data-bind="foreach: drinkMadeSteps">
                                <li data-bind="text: $data"></li>
                            </ol>
                            <p>Please take your <span data-bind="text: madeDrink"></span>!</p>
                        </div>
                        <div data-bind="visible: makingDrink">
                            Making drink... Please wait.
                        </div>
                    </div>

                    <!-- User Interface! This was intended to be input & output, but is just input now-->
                    <div class="col-6" id="vending-machine-interface">
                        <div id="vending-machine-buttons">
                            <label>Please select your drink:</label>
                            <div data-bind="foreach: drinkOptions">
                                <button type="button" class="btn btn-light vending-button" data-bind="click: $root.selectDrink.bind($root,$data), disable: $root.makingDrink">
                                    <span data-bind="text: $data"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
    <script src="~/js/vendingmachine.js" asp-append-version="true"></script>

    @*
    // TODO Go into own file
    *@
    <script type="text/javascript">

    </script>
}